@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap");

:root {
  /*     bg:"#1C1C27",
    bgLight: "#1C1E27",
    primary:"#854CE6",
    text_primary:"#F2F3F4",
    text_secondary:"#b1b2b3",
    card:"#171721",
    card_light: '#191924',
    button:"#854CE6",
    white:"#FFFFFF",
    black:"#000000", */
  --primary-font: "Source Code Pro", monospace;
  --primary-color: #854ce6;
  --primary-bg1-color: #1c1c27;
  --primary-bg-2-color: #1c1e27;
  --primary-bg3-color: #171721;
  --text-color1: #f2f3f4;
  --text-color2: #b1b2b3;
  --text-color3: #626970;
  --text-color4: #575c66;
  --footer-bg-color: #00012b;
  --background-gradient: linear-gradient(
    90.21deg,
    #aa367c80 -5.91%,
    #4a2fbd80 111.58%
  );
}

/* css reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 1rem;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

div,
button,
a {
  background-color: transparent;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

body {
  background-color: var(--primary-bg1-color);
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 3.5rem; */
  background-color: transparent;
  transition: all 0.3;
  z-index: 100;
}

.header-active {
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

header nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
header nav div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header nav div {
  font-weight: 700;
  color: var(--text-color1);
  font-size: 1.75rem;
}

header nav ul {
  display: flex;
  gap: 1rem;
  color: var(--text-color1);
}

.connect_btn {
  position: relative;
  border: 1px solid var(--text-color1);
  padding: 12px 16px;
  color: var(--text-color1);
  font-weight: 600;
  transition: all 0.3s;
}

.connect_btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.connect_btn:hover::before {
  width: 100%;
}
.connect_btn:hover {
  color: black;
  font-weight: 600;
}

.nav-text {
  color: var(--text-color1);
  font-weight: 500;
  font-size: 1rem;
}

/* home section */
#home {
  background-image: url("./assets2/img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 256px 0 100px 0;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 70% 95%, 0px 100%);
}

.home-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 58% 42%;
}

.hero-left > div:first-child {
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 20px;
  font-weight: 700;
  padding: 8px 10px;
  color: var(--text-color1);
  background: var(--background-gradient);
  width: max-content;
  margin-bottom: 16px;
  cursor: pointer;
}

.hero-left h1 {
  font-size: 65px;
  color: var(--text-color1);
}

.hero-left h1 span {
  font-size: 65px;
}

.hero-left p {
  margin-top: 8px;
  /* font-size: 14px; */
  color: var(--text-color2);
  font-weight: 500;
}

.home-social-link {
  margin-top: 1rem;
  display: flex;
  gap: 12px;
}
.home-social-link a img {
  width: 24px;
  height: 24px;
}

.home-social-link a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.home-social-link a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.home-social-link a:hover::before {
  transform: scale(1);
}
.home-social-link a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.home-social-link a .github {
  width: 24px;
}

.home-social-link a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.hero-left div:last-child {
  margin-top: 2rem;
}

.hero-left div:last-child a:first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color1);
  fill: var(--text-color1);
  margin-right: 12px;
  transition: all 0.2s;
}

.hero-left div:last-child a:first-child img {
  transition: all 0.2s;
}

.hero-left div:last-child a:first-child:hover {
  font-weight: 700;
}
.hero-left div:last-child a:first-child:hover img {
  transform: translateX(4px);
}

/* download cv button */
.hero-left div:last-child button {
  text-align: center;
  padding: 12px 16px;
  border: 1px solid white;
  font-size: 18px;
  color: var(--text-color1);
  font-weight: 600;
  z-index: 1;
  position: relative;
  transition: all 0.2s linear;
}

.hero-left div:last-child button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--text-color1);
  transition: all 0.2s linear;
}

.hero-left div:last-of-type button:hover::before {
  width: 100%;
}
.hero-left div:last-child button:hover {
  color: black;
}
/* right img -> home */
.hero-right {
  padding: 1rem;
}

.hero-right img {
  margin-top: -1rem;
  width: 100%;
  animation: upAndDownAnimation 4s linear infinite;
}

@keyframes upAndDownAnimation {
  0% {
    transform: translateY(-1.5rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(-1.5rem);
  }
}

#skill {
  background: var(--primary-bg1-color);
  position: relative;
  padding-bottom: 90px;
}

#skill::after {
  content: "";
  position: absolute;
  top: 0%;
  left: -6%;
  box-shadow: 0px 0px 600px 100px #aa367c80, 0px 0px 200px 100px #4a2fbd80,
    0px 0px 200px 100px rgba(51, 34, 68, 1), 0px 0px 200px 59px rgba(0, 0, 0, 1);
  border-radius: 50%;
}
#skill::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -6%;
  box-shadow: 0px 0px 600px 100px #aa367c80, 0px 0px 200px 100px #4a2fbd80,
    0px 0px 200px 100px rgba(51, 34, 68, 1), 0px 0px 200px 59px rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.heading-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  color: var(--text-color1);
}

.subheading {
  font-size: 20px;
  text-align: center;
  max-width: 600px;
  color: var(--text-color2);
}

.skill-section {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.skill-section > div {
  max-width: 500px;
  background-color: var(--primary-bg3-color);
  border: 1px solid var(--primary-color);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 1rem;
  padding: 18px 36px;
  transition: all 0.3s;
  cursor: pointer;
}

.skill-section > div:hover {
  transform: translateY(-20px) scale(1.01);
}

.skill__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.tag__container {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid rgba(242, 243, 244, 0.5);
  border-radius: 12px;
  justify-content: center;
}

.skill__heading {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color2);
  text-align: center;
  margin-bottom: 20px;
}

.skill__name {
  color: var(--text-color2);
  font-weight: 500;
}

.skill__img {
  width: 30px;
  height: 30px;
}

#project {
  margin-top: 3rem;
  background: linear-gradient(
    343.07deg,
    rgba(132, 59, 206, 0.06) 5.71%,
    rgba(132, 59, 206, 0) 64.83%
  );
  /* clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%); */
  padding-bottom: 90px;
}

.project_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3.5rem;
}

.project__subcontainer {
  width: 330px;
  /* height: 490px; */
  background-color: rgb(23, 23, 33);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
  padding: 26px 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: all 0.3s ease-in 0s;
}

.project__subcontainer:hover {
  filter: brightness(1.1);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 50px 4px;
  transform: translateY(-10px);
}

.project__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
}

.img-btn {
  display: flex;
  gap: 8px;
}

.img-btn a img {
  width: 20px;
  height: 20px;
}

.img__container {
  position: relative;
}

.img-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.img-btn a {
  background-color: var(--text-color1);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 33px -4px var(--text-color2);
  transition: all 0.3s ease-in 0s;
}

.img-btn a:hover {
  scale: 0.9;
  background-color: var(--text-color2);
  box-shadow: none;
}

.project__tagContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4px;
}

.project__tagContainer > span {
  font-size: 14px;
  font-weight: 500;
  color: rgb(133, 76, 230);
  padding: 2px 8px;
  background-color: rgba(133, 76, 230, 0.082);
  border-radius: 10px;
}

.project_desc h2 {
  font-size: 20px;
  color: rgb(177, 178, 179);
  font-weight: 600;
}

.project_desc .date {
  font-size: 12px;
  color: rgba(177, 178, 179, 0.5);
}

.project_desc p:last-child {
  color: rgba(177, 178, 179, 0.6);
  margin-top: 8px;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.btn {
  font-size: 1rem;
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  color: rgb(177, 178, 179);
  transition: all 0.5s ease 0s;
  font-weight: 600;
  text-align: center;
  display: block;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background-color: rgba(133, 76, 230, 0.6);
  transform: scale(0.95);
}

.view-btn {
  background: var(--primary-color);
  color: var(--text-color1);
}

.git-btn {
  background-color: rgb(28, 30, 39);
}

#contact {
  min-height: 100vh;
  padding-bottom: 90px;
  padding-top: 54px;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
}

.contact-container {
  max-width: 90%;
  display: flex;
  gap: 4rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.contact-left img {
  max-width: 92%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(23, 23, 33);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  padding: 32px;
  border-radius: 16px;
}

.nameContainer {
  display: flex;
  gap: 1rem;
}

input,
textarea {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid rgb(177, 178, 179);
  color: rgb(242, 243, 244);
  border-radius: 12px;
  padding: 12px 16px;
}

textarea {
  height: 10rem;
}

.form-heading h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color1);
}

input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
}

.send__btn {
  width: 100%;
  display: block;
  padding: 12px 16px;
  background: linear-gradient(
    225deg,
    rgb(132, 0, 255) 0%,
    rgb(230, 0, 255) 100%
  );
  color: white;
  font-weight: 600;
  border-radius: 12px;
}

footer {
  /* min-height: 6rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg3-color);
}

.footer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid var(--primary-bg-2-color);
  color: var(--text-color1);
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.footer-icon a img {
  width: 24px;
  height: 24px;
}
